*
{
margin: 0;
padding: 0;
}

#nav-bar
{
posistion: sticky;
top: 0;
z-index:10;
}
.navbar-brand img
{
height: 80px;
padding-left: 30px;
}
.navbar-nav li
{
   padding: 0 10px;
}
.navbar-nav li a
{
   float: right;
   text-align:left;
}
#nav-bar ul li a:hover
{
      color:  	#00008B!important;
}
.navbar
{
background: #FFFFFF;
}
.navbar-toggler
{
border: none!important;
}
.nav-link
{
color: 	#00008B!important;
font-weight:600;
font-size:16px;
}
#slide
{
width:100%;
}
.carousel-caption
{
top:30%;
text-align:left;
transform:transalate(-50%);
bottom: initial!important;
}
.carousel-caption h5
{
color: #000000;
font-size:52px;
}
#about hari
{
     padding-top:50px;
     padding-bottom:50px; 
     color:#555;
}
#about hari.btn
{
 margin-top:20px;
 margin-bottom:30px;
}
.about-content
{
padding-top:20px;

}
#projects
{
background-image:linear-
gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/projects.jpg);
background-size:cover;
background-posistion:center;
color:#efefef!important;
background-attachment:fixed;
padding-top:25px;
padding-bottom:25px;
}
#projects h1
{
text-align:center;
color:#800000 !important;
padding-bottom: 10px;
}
#projects h1::after
{
content:'';
background:#000000;
display block;
height: 3px;
width :170px;
margin:20px auto 5px;

}
*{
	text-align: center;
	padding: 5px;
}

li {
	list-style-type: none;
	text-align: center;
	padding-bottom: 5%;
}

input {
	background-color: #FFFFFF;
	border: 2px solid #00008b;
	border-radius: 2px;
	text-align: left;
	color: BLACK;
}

h1 {
	font-family: sans-serif;
	color: #00008b
}

.container {
	font-family:  sans-serif;
	border: 2px solid #00008b;
	width: 24%;
	text-align:  center;
	margin: auto;
	border-radius: 12px;
	background-color: white;
	padding-bottom: 10px;
	-webkit-box-shadow: 3px 0px 10px 0px black;
	-moz-box-shadow: 3px 0px 10px 0px black;
	box-shadow: 3px 0px 10px 0px black;

}

.submit {
	background-color: transparent;
	color: red;
	border: 1px solid black;
	width: 50%
	font-family: sans-serif;
	font-size: 18px;
	transition: 0.9s ease;
	text-align: center;
}

.submit:hover {
	background-color: #00008b;
	color: black;
	border: 1px solid black;
	font-family: sans-serif;
	font-size: 12px;

}

.password, .username {
width: 50%;

}

body {
	background-color: #FFFFFF;
}

/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');*/

* {
    font-family: Arial;
}

body {
    height: 100vh;
    background: #f9f9f9;
}

#chart, .chart-box {
    padding-top: 20px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
}

select.flat-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #008FFB url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'60px\' height=\'60px\'><polyline fill=\'white\' points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>") no-repeat scroll right 2px top 9px / 16px 16px;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-family: arial,tahoma;
    font-size: 16px;
    font-weight: bold;
    outline: 0 none;
    height: 33px;
    padding: 5px 20px 5px 10px;
    text-align: center;
    text-indent: 0.01px;
    text-overflow: "";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
    width: auto;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  select.flat-select:focus, select.flat-select:hover {
    border: 0;
    outline: 0;
  }
  

.apexcharts-canvas {
    margin: 0 auto;
}

#html {
    display: none;
}
.footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: black;
   text-align: center;
 opacity: 0.5;
  filter: Alpha(opacity=50);
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: right;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 20%;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: black;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
